<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/5c0b0c43-5d9d-4f47-baed-12afe3401abf/resourceGroups/ProyectoFInal/providers/Microsoft.ApiManagement/service/BackendProyectoFinalapi/apis/BackendProyectoFinal</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/5c0b0c43-5d9d-4f47-baed-12afe3401abf/resourcegroups/ProyectoFInal/providers/Microsoft.Web/sites/APIRESTProyectoFInal4sw</ResourceId>
    <ResourceGroup>ProyectoFInal</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://apirestproyectofinal4sw.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0125fda5-cd45-4013-afa0-f32e21a20b69</ProjectGuid>
    <PublishUrl>https://apirestproyectofinal4sw.scm.azurewebsites.net/</PublishUrl>
    <UserName>$APIRESTProyectoFInal4sw</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>